<mat-card [ngClass]="liked ? 'liked-card' : 'example-card'">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image 
    src="https://material.angular.io/assets/img/examples/shiba2.jpg" 
    alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button 
      id="like-button"
      (click)="like()"
      mat-button>LIKE</button>
      <button
      id="share-button"
      [disabled]="shared"
      (click)="share()"
      mat-button>SHARE</button>
    </mat-card-actions>
    <p id="like-text" *ngIf="liked">You have liked this {{likes}} 
        {{(likes > 1) ? "times" : "time"}}.</p>
  </mat-card>
  