.example-card, .liked-card {
    max-width: 300px;
  }

  .liked-card{
    background-color: rgb(232, 181, 255);
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }